name: MicroPython Examples

on:
  push:
  pull_request:
  release:
    types: [created]

jobs:
  build:
    name: Pack Examples
    runs-on: ubuntu-24.04

    env:
      RELEASE_FILE: pimoroni-picovision-examples-${{github.event.release.tag_name || github.sha}}

    steps:
    - uses: actions/checkout@v4
      with:
        submodules: true
        path: picovision

    - name: Configure
      shell: bash
      working-directory: picovision
      run: |
        cmake -S . -B build -DCPACK_PACKAGE_FILE_NAME="${{env.RELEASE_FILE}}" -DCMAKE_INSTALL_PREFIX=build/install

    - name: Pack Examples
      shell: bash
      working-directory: picovision
      run: |
        cmake --build build --target install package

    - name: Store as artifact
      uses: actions/upload-artifact@v4
      with:
        name: ${{env.RELEASE_FILE}}
        path: picovision/build/install

    - name: Upload release zip
      if: github.event_name == 'release'
      uses: softprops/action-gh-release@v1
      with:
        files: picovision/build/${{env.RELEASE_FILE}}.zip
